.movie-card {
  // border: 1px black solid;
  display: flex;
  width: 600px;
  height: 200px;
  padding-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #cee5f2;
  border-radius: 10px;
  @media (max-width: 1300px) {
    width: calc((100vw / 2) - 50px);
  }
  @media (max-width: 900px) {
    width: 90%;
    height: 150px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  img {
    height: 100%;
    width: 140px;
    border-radius: 10px 0 0 10px;
    @media (max-width: 900px) {
      width: 105px;
    }
  }
  .movie-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      margin: 20px 0;
      display: flex;
      font-size: 22px;
      @media (max-width: 1300px) {
        font-size: 20px;
      }
      span {
        margin-left: 10px;
      }
    }
    @media (max-width: 1300px) {
      p {
        font-size: 16px;
      }
    }
  }
}
